{
	"configs" : [
		[[{
			"remarks" : "${remarks}",
			"server" : "${server}",
			"server_port" : ${server_port},
			"server_udp_port" : 0,
			"password" : "${password}",
			"method" : "${method}",
			"obfs" : "${obfs}",
			"obfsparam" : "",
			"group" : "feng",
			"udp_over_tcp" : false,
			"protocol" : "${protocol}",
			"enable" : true,
		},]]
	],
	"index" : 0,
	"random" : true,
	"global" : false,
	"enabled" : true,
	"shareOverLan" : false,
	"isDefault" : false,
	"bypassWhiteList" : false,
	"localPort" : ${localPort},
	"reconnectTimes" : 3,
	"randomAlgorithm" : 0,
	"TTL" : 0,
	"proxyEnable" : false,
	"pacDirectGoProxy" : false,
	"proxyType" : 0,
	"proxyHost" : null,
	"proxyPort" : 0,
	"proxyAuthUser" : null,
	"proxyAuthPass" : null,
	"proxyUserAgent" : null,
	"authUser" : null,
	"authPass" : null,
	"autoBan" : false,
	"sameHostForSameTarget" : true,
	"keepVisitTime" : 180,
	"dns_server" : null,
	"strategy": "com.shadowsocks.strategy.balancing",
	"token" : {

	},
	"portMap" : {

	}
}